<?php
use TheRat\SymDep\BuildType;
use function Deployer\after;
use function Deployer\get;
use function Deployer\localServer;
use function Deployer\server;
use function Deployer\set;
use function Deployer\task;

set('repository', '<your_repository>.git');

localServer('local')
    ->stage('local')
    ->set('deploy_path', __DIR__);

server('test', '<test_host>', 22)
    ->user('<test_host>')
    ->identityFile()
    ->stage('test')
    ->set('deploy_path', '<test_host>');

server('prod', '<prod_host>', 22)
    ->user('<prod_user>')
    ->identityFile()
    ->stage('prod')
    ->set('deploy_path', '<project_path>');

/**
 * modify properties
 */
task(
    'env',
    function () {
        switch (get('build_type')) {
            case BuildType::TYPE_DEV:
                break;
            case BuildType::TYPE_TEST:
                break;
            case BuildType::TYPE_PROD:
                break;
        }
    }
);
after('properties', 'env');
